.config/fish/fish_variables
.config/fish/conf.d/*
.config/fish/functions/*
!.config/fish/functions/_tide_item_kubectl.fish
!.config/fish/functions/farm.fish
!.config/fish/functions/fish_title.fish
!.config/fish/functions/fzf_cd.fish
!.config/fish/functions/fzf_browser_history.fish
!.config/fish/functions/fzf_bcd.fish
